body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #fff;
}

.principalBox {
    border: 1px solid;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222f3e;
}

.principalBox__cpf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: 2px solid #54a0ff;
    border-radius: 50px;
    height: 30px;
    width: 150px;
    text-align: center;
    transition: 0.25s;
    background-color: #222f3e;
    color: #fff;
    font-size: 11pt;
}

.principalBox__cpf:focus {
    width: 270px;
    height: 35px;
    border-color: #01a3a4;
    font-size: 14pt;
}

.principalBox__verify {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    border-radius: 50px;
    outline: none;
    border: 2px solid #01a3a4; 
    background-color: #222f3e;
    text-transform: uppercase;
    width: 120px;
    height: 33px;
    color: #fff;
    transition: 0.25;
    font-size: 10pt;
    font-weight: 600;
}

.principalBox__verify:hover {
    background-color: #01a3a4;
    cursor: pointer;
}

.principalBox__content {
    position: absolute;
    top: 45%;
    left: 50%;
    padding: 5px;
}

#boas-vindas {
    text-align: center;
    font-size: 25pt;
    text-transform: uppercase;
    color: #fff;
    font-family: sans-serif;
    font-weight: 501;
}